div{
  text-align: center;
}
button{
  margin: 2px;
  user-select: none;
}

input{
  width: 50px;
  line-height: 50px;
  margin: 4px;
  text-align: center;
  font-size: 24px;
  outline: none;
  border-radius: 16px;
  border: 1px solid black;
}
.container{

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}